<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">


<h1 class="display-4">Welcome</h1>
<h1 class="display-4">Application Web - BigData - Taller 1</h1>
<h1>Grupo 10</h1>
<h1>Baptiste Bruno, Mauricio Rendón, Pedro Rozo</h1>
<h2>{bm.viry, ma.rendon, pedro.rozo}@uniandes.edu.co</h2>




<a class="btn btn-primary" href="rf1/">RF1</a>
<a class="btn btn-primary" href="rf2/">RF2</a>
<a class="btn btn-primary" href="rf3/">RF3</a>

