{% load crispy_forms_tags %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
<h5 class="display-4">Pregunta RF1</h5>


<div class="container">

<form action="/lab/rf1/" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="Enviar">
    
    </form>

</div>

    <h1>{{row.Zone}}</h1>

<div class="container">
    <table class="table table-striped">
        <thead><tr>
            <th>Id Zona</th>
            <th>Zona</th>
            <th>Dia</th>
            <th>Hora</th>
            <th>Cantidad</th>
            <th>Tipo</th>

        </tr></thead>
        <tbody>
      
        {% for index, row in data.iterrows %}
        <tr>
            <td>{{ row.LocationID}}</td>
            <td>{{ row.Zone }}</td>
            <td>{{ row.dia }}</td>  
            <td>{{ row.hora }}</td>  
            <td>{{ row.cantidad }}</td>  
            <td>{{ row.tipo }}</td>          
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        Total: {{total}}
    </div>

</div>
<a class="btn btn-secondary m-3" href="/lab">Back</a>