<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h1 class="display-4">Taller 3: Lugar</h1>
<p>
    A continuación encontrará los datos del lugar
</p>
<table class="table table-bordered">
        <tbody>   
            
            <tr>
              <th>Id Lugar</th>
              <td><a href="{{ lugar.x }}">{{ lugar.x }}</a></td>
            </tr>
            <tr>
                <th>Country</th> 
                <td>{{ lugar.country }}</td>     
            </tr>
            <tr>
                <th>Latitud</th>  
                <td>
                                 
                      {{ lugar.geolat}}
                
                </td>
            </tr>
            <tr>
              <th>Longitud</th>   
              <td>
                {{lugar.geolong}}
              </td>             
            </tr>
            <tr>
            <th>Lugar en Mapa</th>   
                <td>
                    <a href="/taller3/map/{{lugar.lugar}}"">{{lugar.lugar}}</a>
                </td>             
            </tr>
           
             
              
              
           
      
        </tbody>
      </table>
    