<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
    <body>
            
        <h1 class="display-4">Taller 3: Persona</h1>
        {%if persona %}
        <p>
            A continuación encontrará los datos de la persona
        </p>
        <table class="table table-bordered">
            <tbody>   
                
                <tr>
                    <th>Name</th>
                    <td>{{persona.name.value }}</td>
                </tr>
                <tr>
                    <th>Birth Name</th> 
                    <td>{{ persona.birthName.value }}</td>     
                </tr>
                <tr>
                    <th>Birth</th>  
                    <td>                                        
                        {{ persona.birth.value}}                       
                    </td>
                </tr>
                <tr>
                    <th>Birth Place</th>   
                    <td>
                    {{persona.birthPlace.value}}
                    </td>             
                </tr>
                <tr>
                    <th>Spouse</th>   
                    <td>
                        {{persona.spouse.value}}
                    </td>             
                </tr>
                <tr>
                    <th>Ubicación</th>   
                    <td>
                        {{persona.ubicacion.value}}
                    </td>             
                </tr>
                <tr>
                    <th>Person</th>   
                    <td>
                        {{persona.person.value}}
                    </td>             
                </tr>
            </tbody>
        </table>

        <p>
            Persona Relacionada <a href="{{relacionados.variable.value}}">{{relacionados.variable.value}}</a>
        </p>
       {% else %}
        <p>No se encontraron datos</p>
       {% endif %}
                
    </body>
</html>