<html>
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="display-4"><a href="/taller3/index">Taller 3</a>:</h1>
<p>
    A continuación encontrará los datos de la pregunta
</p>

<table class="table table-bordered">
    <tbody>   
        
        <tr>
          <th>Id</th>
          <td><a href="{{ question.id }}">{{ question.id }}</a></td>
        </tr>
        <tr>
            <th>Title</th> 
            <td>{{ question.title }}</td>     
        </tr>
        <tr>
            <th>Summary</th>  
            <td>
                {% autoescape off %}                  
                  {{ question.summary}}
                {% endautoescape %}
            </td>
        </tr>
        <tr>
          <th>Rank</th>   
          <td>
            {{question.re_rank}}
          </td>             
        </tr>
        <tr>
          <th>Social Tags</th>
          <td>
              <ul>
                {% for value1 in question.socialTags %}
                  <li>{{value1}}</li>
                 {% endfor %}
              </ul>
            </td> 
        </tr>
        <tr>
          <th>Topics</th>
          <td>
            <ul>
              {% for value1 in question.topics %}
              <li><a href="/taller3/buscartopic/{{value1}}">{{value1}}</a></li>
             {% endfor %}
            </ul>
          </td> 
        </tr>
        <tr>
          <th>Entities</th>
          <td>
            <ul>
              {% for a in question.entities %}
                {% if a.entityType == "City" or a.entityType == "Country" %}
                  <li>{{ a.entityType }}:<strong><a href="/taller3/lugar/{{ a.entityName }}"> {{ a.entityName }}</a></strong>: {{a.relevance}}</li>
                {% elif a.entityType == "Person" %}
                  <li>{{ a.entityType }}:<strong><a href="/taller3/persona/{{ a.entityName }}"> {{ a.entityName }}</a></strong>: {{a.relevance}} - <a href="/taller3/streamTwitter/{{a.entityName}}">( click get data from Twitter)</a> </li>
                {% else %}
                  <li>{{ a.entityType }}: {{ a.entityName }}:{{a.relevance}}</li>
                {% endif %}
              {% endfor %}
            </ul>            
          </td>
        </tr>
         
          
          
       
        
    </tbody>
  </table>
  {% if answers %}
    <h2>Respuestas</h2>
    <table  class="table table-bordered">
      <thead>
        <th>Id</th>
        <th>Title</th>
      </thead>
      <tbody>
        {% for respuesta in answers %}
        <tr>
            <td><a href="/taller3/question/{{ respuesta.llave }}">{{ respuesta.llave }}</a></td>
          <td>{{respuesta.title}}</td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <a class="btn btn-secondary m-3" href="#" onclick="javascript: window.history.back();">Back</a>
    
</body>
  </html>