<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h1 class="display-4">Taller 3</h1>
<p>
    A continuación encontrará los datos de la pregunta
</p>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th> 
        <th>Summary</th>    
        <th>Rank</th>            
        <th>Social Tags</th>
        <th>Topics</th>
        <th>Entities</th>
      </tr>
    </thead>
    <tbody>   
        {% for question in questions %}   
        <tr>
          <td><a href="{{ question.id }}">{{ question.id }}</a></td>
          <td>{{ question.title }}</td>     
          <td>
              {% autoescape off %}                  
                {{ question.summary}}
              {% endautoescape %}
          </td>
          <td>
            {{question.re_rank}}
          </td>    
          <td>
            <ul>
              {% for value1 in question.socialTags %}
                <li>{{value1}}</li>
               {% endfor %}
            </ul>
          </td> 
          <td>
              {% for value1 in question.topics %}
              <li>{{value1}}</li>
             {% endfor %}
          </td> 
          <td>
            <ul>
              {% for a in question.entities %}
                <li>{{ a.entityType }}: {{ a.entityName }}:{{a.relevance}}</li>
              {% endfor %}
        </ul>

           
          </td> 
        </tr>
        {% endfor %}
    </tbody>
  </table>
  