
{% load crispy_forms_tags %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    </head>
    <body>
<h5 class="display-4">Busqueda en Twitter Stream</h5>
<p>
    Se ha iniciado con éxito el proceso de descarga de datos sobre el tema. Se van a descargar 10 tweets del stream
    y quedarán disponibles en la base de datos.
</p>


<a class="btn btn-secondary m-3" href="#" onclick="javascript: window.history.back();">Back</a>
</body>
</html>

