<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyDEU0NyliuXmiyQgIlgjSPzb8VJj0_6vUY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        

        var dataJep = new google.visualization.DataTable();
        dataJep.addColumn('string', 'Pais');                   
        dataJep.addColumn('number', 'Cantidad de Tweets');   
        

        var djangoData=JSON.parse('{{ jep|safe }}');
        dataJep.addRows(djangoData)  
        

        var options = {
            showTooltip: true,
          showInfoWindow: true,
            icons: {
                 default: {
                 normal: 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Azure-icon.png',
                 selected: 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Right-Azure-icon.png'
                }
            }
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(dataJep, options);
      }
    </script>
  </head>
  <body>
        <h3>Ubicación de los tweets</h3>
        <p>Se hizo una georeferenciación a los tweets del dataset de Venezuela ya que es el que presenta más tweets con los datos necesarios</p>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
    <a class="btn btn-secondary m-3" href="/#taller2">Back</a>
  </body>
</html> 

